@font-face {
    font-family: 'Norse'; /*a name to be used later*/
    src: url(Norse.otf); /*URL to font*/
}
@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}


body {
    background-image: url("background.png");
    /*make the background scale with the web browser size*/
    background-size: cover;
    margin: 0;

}


.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Norse, serif;
    background-color: #333;
    padding: 15px;
    border-bottom: #c02026 3px solid;
}

.topnav a {
    border: 1px solid red;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 7px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #c02026;
    color: white;
}

.aldo{
    /*make the content only as large as the words in it*/
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-family: Norse,   serif;
    background-color: black;
    padding: 0;
    border: #c02026 3px solid;
    border-top: none  ;
    min-width: 113px;
    margin: auto;
}
.aldo .name{

    font-size: 30px;
    font-weight: bold;
    color: #d4c8c8;
}

.Title{
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-family: Norse,   serif;
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-align: center;
    background: #f2f2f2;
    padding: 7px;
    margin: 20px auto auto;
    border: #c02026 3px solid;

}
.Title{
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-family: Norse,   serif;
}



.flex-container {
    display: flex;
    flex-direction: row;
    gap:30px;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
    background: #d4c8c8;
    border: 4px solid brown;
    margin-top: 30px;
    height: 100px;
    width: 100px;
    flex: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-container .pictureofwife {
    margin-left: 2rem;
    max-width:500px;
    height:auto;

}
.flex-container .About-Me {
    margin-right: 2rem;
}